{{set . "title" "Users"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <h1>All the Users</h1>
                <p></p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
    <div class="row">
        <div class="span6">
            {{if .users}}
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .hotels}}
                            <tr>
                                <td>{{.Username}}</td>
                                <td>{{.FirstName}}</td>
                                <td>{{.LastName}}</td>
                                <td>
                                    <a href="{{url "Users.Single" .Username}}">View User</a>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            {{else}}

            {{end}}
        </div>
    </div>
</div>

{{template "footer.html" .}}
